[submodule "poky"]
	path = poky
	url = https://github.com/lgirdk/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-stephendpmurphy"]
	path = meta-stephendpmurphy
	url = https://github.com/stephendpmurphy/meta-stephendpmurphy.git
[submodule "meta-atmel"]
	path = meta-atmel
	url = https://github.com/linux4sam/meta-atmel.git
