[submodule "poky"]
	path = poky
	url = https://github.com/lgirdk/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://github.com/openembedded/meta-openembedded.git
[submodule "meta-st-stm32mp"]
	path = meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp.git
[submodule "meta-stephendpmurphy"]
	path = meta-stephendpmurphy
	url = https://github.com/stephendpmurphy/meta-stephendpmurphy.git
